Panahgah_AMN_API.json
{
  "name": "Panahgah AMN API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "PrblemState",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "id": "b66498ea-f89f-49bd-be8c-7a6e1791c5a3",
      "name": "Problem State",
      "webhookId": "36704723-6987-47d1-9e73-38486ddfaeaa"
    },
    {
      "parameters": {
        "path": "GettingAllProblems",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        -200
      ],
      "id": "293ac5a3-46eb-490c-ab84-e1215c1c6fb3",
      "name": "Getting All Problems",
      "webhookId": "b61de45e-3162-490c-b31a-60f704aa205b"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "ProblemTable",
          "mode": "list",
          "cachedResultName": "ProblemTable"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Name",
              "value": "={{ $json.body.Name }}"
            },
            {
              "column": "Description",
              "value": "={{ $json.body.Descritpion }}"
            },
            {
              "column": "Price",
              "value": "={{ $json.body.price }}"
            },
            {
              "column": "NationalCode",
              "value": "={{ $json.body.NationalCode }}"
            },
            {
              "column": "Address",
              "value": "={{ $json.body.Address }}"
            },
            {
              "column": "Family",
              "value": "={{ $json.body.Family }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        340,
        0
      ],
      "id": "65ec2dc3-c524-4784-b895-6f9645a185e3",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "3ZdlJhXdJOFbpWLj",
          "name": "Panahgah"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        780,
        0
      ],
      "id": "fe300194-1c7c-4ea9-a974-98bdff037533",
      "name": "Problem set to the things"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "SoloutionTable",
          "mode": "list",
          "cachedResultName": "SoloutionTable"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Name",
              "value": "={{ $json.body.Name }}"
            },
            {
              "column": "Description",
              "value": "={{ $json.body.Descritpion }}"
            },
            {
              "column": "Price",
              "value": "={{ $json.body.price }}"
            },
            {
              "column": "NationalCode",
              "value": "={{ $json.body.NationalCode }}"
            },
            {
              "column": "Family",
              "value": "={{ $json.body.Family }}"
            },
            {
              "column": "Address",
              "value": "={{ $json.body.Address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        360,
        220
      ],
      "id": "ba36cbab-0451-4f9b-8877-f38ddbddf779",
      "name": "Insert to soloution state",
      "credentials": {
        "mySql": {
          "id": "3ZdlJhXdJOFbpWLj",
          "name": "Panahgah"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        780,
        220
      ],
      "id": "8ed1f781-5b75-44cf-8b27-23e58f623948",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SoloutionState",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        220
      ],
      "id": "15b743dd-63cd-42b5-9768-ff5fcf8763cb",
      "name": "Soloution State",
      "webhookId": "dac7f9c8-962e-4f86-96e4-65cc34636ac5"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        800,
        420
      ],
      "id": "f0f9d891-7ed5-48e0-a0e4-4d216c11bdb6",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "path": "GettingAllSoloutions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        420
      ],
      "id": "446974a0-60e2-476d-ba31-f2fb2a101af1",
      "name": "Getting All Soloutions",
      "webhookId": "b61de45e-3162-490c-b31a-60f704aa205b"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "SoloutionTable",
          "mode": "list",
          "cachedResultName": "SoloutionTable"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        380,
        420
      ],
      "id": "89a0684a-f189-4d2c-ae03-ab10ce21e4d9",
      "name": "All The Soloution",
      "credentials": {
        "mySql": {
          "id": "3ZdlJhXdJOFbpWLj",
          "name": "Panahgah"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        800,
        600
      ],
      "id": "74cbaf54-34bb-4dcd-97e9-ba3d26939a97",
      "name": "Authorize user"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Register",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        600
      ],
      "id": "01192d56-3525-415d-8017-80bf6c7c8fea",
      "name": "Register",
      "webhookId": "6b3390f7-1094-478b-9508-e216f68e45a2"
    },
    {
      "parameters": {
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        820
      ],
      "id": "eb67f11d-fc67-4b59-805e-1c850b2360c0",
      "name": "Login",
      "webhookId": "d6ae426b-e6ce-4b83-8a2d-2dc59cb95282"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "phone_number",
              "value": "={{ $json.body.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        400,
        820
      ],
      "id": "5083d6d9-5d6c-49de-bf52-9b1a8a5b8275",
      "name": "Condition",
      "credentials": {
        "mySql": {
          "id": "3ZdlJhXdJOFbpWLj",
          "name": "Panahgah"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        820,
        820
      ],
      "id": "72c644aa-f81a-42c3-8220-6b316e9c7b22",
      "name": "Login Repsonse"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.id }}"
            },
            {
              "column": "full_name",
              "value": "={{ $json.body.full_name }}"
            },
            {
              "column": "phone_number",
              "value": "={{ $json.body.phone_number }}"
            },
            {
              "column": "city",
              "value": "={{ $json.body.city }}"
            },
            {
              "column": "age",
              "value": "={{ $json.body.age }}"
            },
            {
              "column": "lat",
              "value": "={{ $json.body.lat }}"
            },
            {
              "column": "lng",
              "value": "={{ $json.body.lng }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        380,
        600
      ],
      "id": "382b49c2-ac0d-4361-90a5-be17542f855e",
      "name": "Register in Mysql",
      "credentials": {
        "mySql": {
          "id": "3ZdlJhXdJOFbpWLj",
          "name": "Panahgah"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "ProblemTable",
          "mode": "list",
          "cachedResultName": "ProblemTable"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        360,
        -200
      ],
      "id": "61ceeb23-2624-42e2-baf3-40549791abd8",
      "name": "GetAllProblem for fetching data",
      "credentials": {
        "mySql": {
          "id": "3ZdlJhXdJOFbpWLj",
          "name": "Panahgah"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        760,
        -200
      ],
      "id": "5b3201f6-e159-43aa-b939-277a66afd595",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Getting All Problems": {
      "main": [
        [
          {
            "node": "GetAllProblem for fetching data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Problem State": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Problem set to the things",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to soloution state": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soloution State": {
      "main": [
        [
          {
            "node": "Insert to soloution state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting All Soloutions": {
      "main": [
        [
          {
            "node": "All The Soloution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All The Soloution": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register": {
      "main": [
        [
          {
            "node": "Register in Mysql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condition": {
      "main": [
        [
          {
            "node": "Login Repsonse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register in Mysql": {
      "main": [
        [
          {
            "node": "Authorize user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAllProblem for fetching data": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10bbca69-a3e0-463d-b4a6-09561bd6cd56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49bb1c8238631a248b9a9a08f907dc3c2e2149108910986d61af29d31f8a2d9d"
  },
  "id": "yxRUpwJ4gSRYZRyf",
  "tags": []
}